<div class="container-vans">
    <% if(productos != '') { %>
        <% for (let producto of productos) { %> 
                <div class="van">
                    <div class="div-dato imagen-van-div">
                        <div class="contenedor-a-img">
                            <a href="./products/<%= producto.producto.id %>" class="imagen-van-a"><img src="./images/imagenesproductos/<%= producto.producto.imagenes[0].img %> " alt="Kangoo" class="imagen-van"></a>
                        </div>
                    </div>
                    <div class="div-dato fechas-div">
                        <p>Del <strong><%= producto.fechaPartida%></strong> al <strong><%= producto.fechaLlegada%></strong></p>
                    </div>
                    <div class="div-dato cantidad-dias">
                        <p>Los dias de tus vacaciones seran <%= producto.cantidadDeDias %></p>
                    </div>
                    <div class="formulario-eliminar-del-carrito">
                        <form action="destroyProduct?_method=delete" method="post">
                            <div class="div-button">
                                <button class="button"><i class="fa-solid fa-xmark"></i></button>
                            </div>
                            <div style="display: none;"><input type="tel" name="idProducto" value="<%= producto.id %>"></div>
                        </form>
                    </div>
                </div>   
            <% } %> 
        <% } else { %>
            <div>
                <h2>Tu carrito esta vacio</h2>
            </div>
    <% } %>  
</div>



