<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="../../../CSS/main/home.css">
    <link rel="stylesheet" href="../../../CSS/users/editProfile.css">

    <title>Editar perfil</title>
</head>
<body>
    <!-- Header -->
    <header>
        <nav class="nav-bar">
            <ul class="link-list" type="none">
                <li class="nav-header-item"><img src="../../images/imagenesVariadas/logo.png" alt="Logo Argentina campers" class="logoAC"></li>
                <li class="nav-header-item home"><a href="../../home" class="links-header-nav"><h2>Home</h2></a></li>
                <li class="nav-header-item products"><a href="../../products" class="links-header-nav"><h2>Nuestras CamperVans</h2></a></li>
                <li class="nav-header-item about-us"><a href="../../aboutUs" class="links-header-nav"><h2>About us</h2></a></li>
                <li class="carro-header nav-header-item"><a href="../../rental-cart" class="links-header-nav carrito-header"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="nav-header-item menu"><a href="#"><i class="fa-solid fa-bars burger-menu"></i></a></li>
                <% if(locals.isLogged) { %>
                    <li class="menu-horizontal">
                        <div class="ajutar-todo">
                            <div class="foto-y-perfil">
                                <div class="contenedor-foto-perfil">
                                    <img src="../../../images/avatarPerfil/<%= locals.userLogged.avatar %> " alt="Foto de perfil" class="foto-de-perfil">
                                </div>
                                <a href="#" class="link-menu-horizontal"><%= locals.userLogged.userName %></a>
                                <a href="#"><div class="nav-header-username-chevron"></div></a>
                            </div>
                            <ul class="sub-menu-vertical">
                                <li><a href="../../profile/<%= locals.userLogged.id %> " class="link-menu-vertical mi-perfil">Mi perfil</a></li>
                                <% if(locals.admin) { %> 
                                    <li><a href="../../all-users" class="link-menu-vertical all-users">Todos los usuarios</a></li>
                                <% } %> 
                                <li><a href="../../logout" class="link-menu-vertical cerrar-sesion">Cerrar sesion</a></li>
                            </ul>
                        </div>
                    </li>
                <% } else { %> 
                    <ul class="iniciar-sesion">
                        <li class="usuario"><a href="../login" class="links-header links-header-user"><i class="fa-solid fa-right-to-bracket"></i>Iniciar sesion</a></li>
                        <li class="usuario"><a href="../register" class="links-header links-header-user"><i class="fa-solid fa-address-card"></i>Registrarse</a></li>
                    </ul>
                <% } %> 
            </ul>
        </nav>
    </header>

    <!-- Todo el cuerpo -->

    <section class="nav-vehiculos">
        <article>
            <h3><a href="../../home">Home</a> / <a href="">Borrado de usuario</a></h3>
        </article>
    </section>

    <!-- Cuerpo -->
    <main class="body">
        <div class="container-all">
            <div class="container-titulo">
                <h2>Eliminar cuenta</h2>
            </div>
            <div class="container-form">  
                <form action="destroyUser?_method=put" method="post">
                    <h3 class="h3-user-name h3-user-password">Eliminar mi usuario</h3>
                    <p class="p-destroy-user">Para poder eliminar tu usuario tienes que poner tu contraseña actual y confirmarla.</p>
                    <div class="user-data registros">
                        <label for="password" class="label label-registros">Pone tu contraseña</label>
                        <input 
                            placeholder="Contraseña"
                            type="password" 
                            name="password" 
                            id="password" 
                            minlength="6"
                            maxlength="200"
                            class="input-edit <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                            required
                        >
                        <% if (locals.errors && errors.password) { %>
                            <div class="errors">
                                <p><%= errors.password.msg %> </p>
                            </div>
                        <% } %> 
                    </div>
                    <div class="user-data registros">
                        <label for="password2" class="label label-registros">Confirma tu contraseña</label>
                        <input 
                            placeholder="Confirmar contraseña"
                            type="password" 
                            name="password2" 
                            id="password2" 
                            minlength="6"
                            maxlength="200"
                            class="input-edit <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                            required
                        >
                    </div>
                    <div class="button-div">
                        <button class="button">Enviar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

      <!-- Footer --> 
      <%- include('../partials/footer') %>

</body>