<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head') %>
		<link rel="stylesheet" href="../../../CSS/main/home.css" />
		<link rel="stylesheet" href="../../../CSS/users/editProfile.css" />

		<title>Editar perfil</title>
	</head>
	<body>
		<!-- Header -->

		<%- include('../partials/header2') %>

		<!-- Todo el cuerpo -->

		<section class="nav-vehiculos">
			<article>
				<h3>
					<a href="../../home">Home</a> /
					<a href="">Edicion de mi contraseña</a>
				</h3>
			</article>
		</section>

		<!-- Cuerpo -->
		<main class="body">
			<div class="container-all">
				<div class="container-titulo">
					<h2>Editar mi contraseña</h2>
				</div>
				<div class="container-form">
					<form action="editPassword?_method=put" method="post">
						<h3 class="h3-user-name h3-user-password">
							Cambiar la contraseña
						</h3>
						<div class="user-data registros">
							<label
								for="old-password"
								class="label label-registros"
								>Contraseña anterior</label
							>
							<input
								placeholder="Contraseña actual"
								type="password"
								name="oldPassword"
								id="old-password"
								minlength="6"
								maxlength="200"
								class="input-edit <%= locals.errors && errors.oldPassword ? 'is-invalid' : null %>"
								required
							/>
							<% if (locals.errors && errors.oldPassword) { %>
							<div class="errors">
								<p><%= errors.oldPassword.msg %></p>
							</div>
							<% } %>
						</div>
						<div class="user-data registros">
							<label
								for="new-password"
								class="label label-registros"
								>Contraseña nueva</label
							>
							<input
								placeholder="Nueva contraseña"
								type="password"
								name="newPassword"
								id="new-password"
								minlength="6"
								maxlength="200"
								class="input-edit <%= locals.errors && errors.newPassword ? 'is-invalid' : null %>"
								required
							/>
							<% if (locals.errors && errors.newPassword) { %>
							<div class="errors">
								<p><%= errors.newPassword.msg %></p>
							</div>
							<% } %>
						</div>
						<div class="user-data registros">
							<label
								for="confirm-new-password"
								class="label label-registros"
								>Confirmar contraseña nueva</label
							>
							<input
								placeholder="Confirmar nueva contraseña"
								type="password"
								name="confirmNewPassword"
								id="confirm-new-password"
								minlength="6"
								maxlength="200"
								class="input-edit <%= locals.errors && errors.newPassword ? 'is-invalid' : null %>"
								required
							/>
						</div>
						<div class="button-div">
							<button class="button">Enviar cambios</button>
						</div>
					</form>
				</div>
			</div>
		</main>

		<!-- Footer -->
		<%- include('../partials/footer') %>

		<script src="../../../../js/header.js"></script>
	</body>
</html>
